.header {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    align-items: center;
    padding-right: 1.2rem;
}

.header li {
    display: inline;
    list-style: none;
    text-transform: capitalize;
    margin-right: 20px;
}

.button {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none !important;
    margin-left: 10px;
}

.button:disabled .delete {
    cursor: not-allowed;
    color: #838282;
}

.icon {
    color: #007a7e;
    width: 1.7em;
    height: 1.7em;
}

.delete:active {
    color: #ffffff;
    width: 1.7em;
    height: 1.7em;
}

.buttons {
    display: inline;
}
