.header {
    display: flex;
    justify-content: space-between;
    background-color: #252525;
}

.header li{
    display:inline;
    list-style: none;
    text-transform: capitalize;
    margin-right: 20px;
}
